<!-- <mat-toolbar>
  <span>
    Eventify
  </span>
</mat-toolbar> -->

<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Eventify</span>
    <span class="flexExpand"></span>
        <!-- <a mat-icon-button> Logout </a> -->
      <button mat-icon-button class="example-icon-button" (click)="handleButtonClick()">
        <mat-icon
          class="example-icon"
          aria-hidden="false"
          aria-label="Example user verified icon"
          >account_circle</mat-icon
        >
      </button>
  </mat-toolbar-row>

  <!-- <mat-toolbar-row>
    <span>Second Line</span>
    <span class="example-spacer"></span>
    <mat-icon
      class="example-icon"
      aria-hidden="false"
      aria-label="Example user verified icon"
      >verified_user</mat-icon
    >
  </mat-toolbar-row> -->
  <!-- <mat-toolbar-row>
    <div>
      <a mat-button> Accounts </a>
      <a mat-button> Create Account </a>
    </div>
    <span class="flexExpand"></span>
    <div>
      <a mat-icon-button> Logout </a>
      <mat-icon
        class="example-icon"
        aria-hidden="false"
        aria-label="Example user verified icon"
        >verified_user</mat-icon
      >
    </div>
  </mat-toolbar-row> -->
</mat-toolbar>
